### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# App specific

node_modules/
.tmp
dist
npm-debug.log
tmp/
log/
db/

config/database.yml
config/secrets.yml

public/assets
node_modules/
.idea
# Vim
.swap
*.swp
dist
svg-icons/
typings/
typings.json
.vscode
lib/
coverage/

*.pid
*.log
/linters/sass-lint.html
tsconfig.tsbuildinfo
yarn.lock
pnpm-lock.yaml
package-lock.json
