.page-failed {
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &-animate {
    width: 450px;
    height: 450px;
  }

  &-text {
    font-size: 15px;
    font-weight: 600;
    color: #7c7a81;
    text-align: center;
    margin-top: 15px;
    padding: 0 10px;
  }
}
