<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="//lf26-cdn-tos.bytecdntp.com">
  <% if(APP_ENV === 'production') {%>
  <link rel="apple-touch-icon" sizes="180x180"
    href="https://dounione.oss-cn-shanghai.aliyuncs.com/icon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32"
    href="https://dounione.oss-cn-shanghai.aliyuncs.com/icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16"
    href="https://dounione.oss-cn-shanghai.aliyuncs.com/icon/favicon-16x16.png">
  <link rel="shortcut icon" href="https://dounione.oss-cn-shanghai.aliyuncs.com/icon/favicon.ico" type="image/x-icon">
  <% } %>

  <meta name="description" content="index">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport"
    content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
  <title><%= APP_TITLE %></title>
  <% if (APP_ENV === 'production') { %>
  <link rel="preload" href="https://lf26-cdn-tos.bytecdntp.com/cdn/react/18.2.0/umd/react.production.min.js" as="script"
    crossorigin>
  <link rel="preload" href="https://lf26-cdn-tos.bytecdntp.com/cdn/react-dom/18.2.0/umd/react-dom.production.min.js" as="script"
    crossorigin>
  <% } %>

  <script type="text/javascript">
    // Promise polyfill
    window.Promise || document.write(
      '<script src="https://lf26-cdn-tos.bytecdntp.com/cdn/es6-promise/4.1.1/es6-promise.min.js"><\/script>')
  </script>
</head>

<body>
  <div id="root"></div>
  <noscript>Sorry, we need js to run correctly!</noscript>
  <% if(APP_ENV !== 'production') {%>
  <script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/eruda/2.4.1/eruda.min.js"></script>
  <script>
    eruda.init();
  </script>
  <% } %>
  <script
    src="https://cdn.polyfill.io/v2/polyfill.min.js?ua=Android%204.2&features=WeakMap,Object.setPrototypeOf,Object.assign">
  </script>
  <% if(APP_ENV === 'production') { %>
  <script src="https://lf26-cdn-tos.bytecdntp.com/cdn/react/18.2.0/umd/react.production.min.js" crossorigin></script>
  <script src="https://lf26-cdn-tos.bytecdntp.com/cdn/react-dom/18.2.0/umd/react-dom.production.min.js" crossorigin></script>
  <% } %>
</body>

</html>